# Environment variables
.env
.env.*
!.env.example

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Database
*.db
*.sqlite

__pycache__/
.pytest_cache/
.venv/
*.pyc
*.pyo
*.pyd
data/generated/*
!data/generated/.gitkeep
